* {
    box-sizing: border-box;
  }
body{
    font-family: "Poppins", sans-serif;
}

.radio-btn input[type="radio"] {
    width: 24px; 
    height: 24px;
    accent-color: #FABB18; 
    transform: scale(1.5);
}

.limit-height{
    max-height: 15em;
}

.btn-logout:hover .logout-icon{
    color: #FABB18;
    transition: color 0.1s ease-in-out;
}

.btn:hover~.btn-dot{
    transform: translateX(10em);
    transition: transform 0.6s;
}

.btn-dot--habits{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FABB18;
    transform: translateX(-100%);
}
.btn--habits:hover~.btn-dot--habits{
    transform: translateX(32em);
    transition: transform 0.6s;
}
.btn-dot--categories{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FABB18;
    transform: translateX(-100%);
}
.btn--categories:hover~.btn-dot--categories{
    transform: translateX(16em);
    transition: transform 0.6s;
}

.btn-active{
    width: 12.5em;
    padding: 0.7em 1.5em 0.7em 1.5em;
    color:#ffff;
    background-color: #000000;
    border-radius: 10px;
}

.btn-inactive{
    width: 12em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: transparent;
}

.btn__nav-dot{
    bottom: 34.4em;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FABB18;
    transform: translateX(-100%);
}
.nav__dashboard:hover~.btn__nav-dot{
    transform: translateX(17em);
    transition: transform 0.8s;
}

.rounded-table{
    // border-collapse: separate;
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    // border-spacing: 0;
    // table-layout: fixed;
    // overflow: hidden;
}

.table-scroll{
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.day-indicator{
    left: 50%;
    bottom: -0.3em;
    transform: translateX(-50%);
    width: 1em;
    height: 0.4em;
}

.fa-share-from-square:hover{
    cursor: pointer;
    color: #FABB18;
}

.achivement__item:hover .share-icon{
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    transition: opacity 0.1s ease-in-out;
}

.main{
    &__content{
        padding: 0 6em 0 6em;
    }
    &__heading{
        margin-bottom: 2em;
        font-size: 7rem;
        font-weight: 800;
        line-height: 0.6em;

        &--small{
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
        &--form{
            margin-bottom: 1em;
            font-size: 3.3rem;
            font-weight: 800;
            line-height: 0.6em;
        }
    }
    &-color{
    color: #FABB18;
    }

    &__background{
        background-color: #F9F9F9;
        &--gold{
            background-color: #FABB18;
        }
    }

    &__cta-btn{
        padding: 0.8em 2em 0.8em 2em;
        color: white;
        background-color: #000000;
        align-items: center;
        // border-radius: 5px;
    }
}

.nav{
    display: flex;
    width: 100%;
    height: 5em;
    justify-content: end;
    align-items: center;
    padding-right: 1em;
    gap: 1em;

    &__container{
        width: 16em;
    }
}
.btn-dot{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FABB18;
    transform: translateX(-100%);
}
.main__cta-btn:hover~.btn-dot{
transform: translateX(17em);
transition: transform 0.6s;
}

.form{

    &__widget{
        width: 15em;
        padding: 0.6em 1em 0.6em 1em;
        border: #000000 1px solid;
        border-radius: 5px;
    }
    &-submit{
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__btn{
        padding: 0.5em 2em 0.5em 2em;
        color: white;
        background-color: #000000;
        align-items: center;
        &--login{
            padding: 0.5em 2.9em 0.5em 2.9em;
            color: white;
            background-color: #000000;
            align-items: center;
            
            &:hover~.btn-dot{
                transform: translateX(17em);
                transition: transform 0.6s;
            }
        }

        &:hover~.btn-dot{
            transform: translateX(17em);
            transition: transform 0.6s;
        }
    }
}

.habits{
    &__main{
    border-top-left-radius: 40px;
    }
    &__panel--left, &__panel--right{
        // height: 32em;
        width: 50%;
        // height: 93%;
    }
    &__panel{
        height: 39em;
        &--left, &-right--top, &-right--bottom{
            border-radius: 40px;
            background-color: #fff;
        }
    }

    &__checkbox-progress{
        width: 0.5em;
        transition: width 0.2s;
    }

    &__category-bar{
        width: 20em;
        height: 0.5em;
        &--health{
            background: #46BACE;
        }
        &--relax{
            background: #46CE56;
        }
        &--activity{
            background: #FABB18;
        }
    }
    &__row:hover{
        background-color: rgb(246, 246, 246);
    }

    &__table{
        border-radius: 40px;
    }
}

.habit-remove:hover{
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}

.habits__row:hover .habits__checkbox-progress{
    width: 10em;
    transition: width 0.2s;
}
.habits__checkbox:checked~.habits__checkbox-progress{
    width: 10em;
    transition: width 0.2s;

}

.chart__text{
    top: 54%;
    // transform: translateY(-50%);
}

/* Ukrycie samego checkboxa */
.checkbox-hidden {
    display: none;
}

/* Styl ikony, która będzie interaktywna */
.panel-select__icon--health {
    cursor: pointer;  /* Wskaźnik kursora, aby użytkownik wiedział, że jest to element interaktywny */
}
.panel-select__row{
    &--health:hover {
        background-color: rgb(246, 246, 246);
        cursor: pointer; 
    }
    &--relax:hover {
        background-color: rgb(246, 246, 246);
        cursor: pointer; 
    }
    &--activity:hover {
        background-color: rgb(246, 246, 246);
        cursor: pointer; 
    }
}

/* Zmieniony wygląd ikony po zaznaczeniu checkboxa */
.checkbox-hidden:checked ~ .panel-select__icon > .panel-select__icon--health {
    background-color: rgb(222, 233, 252);
}
.checkbox-hidden:checked ~ .panel-select__icon > .panel-select__icon--relax {
    background-color: rgb(220, 252, 231);
}
.checkbox-hidden:checked ~ .panel-select__icon > .panel-select__icon--activity {
    background-color: rgb(255, 237, 213);
}

.profile{
    &__regularity:hover, &__self-development:hover, &__quantity:hover{
        background-color: #F9F9F9;
    }
}
.chevron-rotate{
    transform: rotate(90);
    transition: rotate 0.2s ease-in-out;
}

