@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
}

.limit-height {
  max-height: 15em;
}

.btn-logout:hover .logout-icon {
  color: #FABB18;
  transition: color 0.1s ease-in-out;
}

.btn:hover ~ .btn-dot {
  transform: translateX(10em);
  transition: transform 0.6s;
}

.btn-dot--habits {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #FABB18;
  transform: translateX(-100%);
}

.btn--habits:hover ~ .btn-dot--habits {
  transform: translateX(32em);
  transition: transform 0.6s;
}

.btn-dot--categories {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #FABB18;
  transform: translateX(-100%);
}

.btn--categories:hover ~ .btn-dot--categories {
  transform: translateX(16em);
  transition: transform 0.6s;
}

.btn-active {
  width: 12.5em;
  padding: 0.7em 1.5em 0.7em 1.5em;
  color: white;
  background-color: #000000;
  border-radius: 10px;
}

.btn-inactive {
  width: 12em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: transparent;
}

.btn__nav-dot {
  bottom: 34.4em;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #FABB18;
  transform: translateX(-100%);
}

.nav__dashboard:hover ~ .btn__nav-dot {
  transform: translateX(17em);
  transition: transform 0.8s;
}

.rounded-table {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.table-scroll {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.day-indicator {
  left: 50%;
  bottom: -0.3em;
  transform: translateX(-50%);
  width: 1em;
  height: 0.4em;
}

.main__content {
  padding: 0 6em 0 6em;
}
.main__heading {
  margin-bottom: 2em;
  font-size: 7rem;
  font-weight: 800;
  line-height: 0.6em;
}
.main__heading--small {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.main__heading--form {
  margin-bottom: 1em;
  font-size: 3.3rem;
  font-weight: 800;
  line-height: 0.6em;
}
.main-color {
  color: #FABB18;
}
.main__background {
  background-color: #F9F9F9;
}
.main__background--gold {
  background-color: #FABB18;
}
.main__cta-btn {
  padding: 0.8em 2em 0.8em 2em;
  color: white;
  background-color: #000000;
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  height: 5em;
  justify-content: end;
  align-items: center;
  padding-right: 1em;
  gap: 1em;
}
.nav__container {
  width: 16em;
}

.btn-dot {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #FABB18;
  transform: translateX(-100%);
}

.main__cta-btn:hover ~ .btn-dot {
  transform: translateX(17em);
  transition: transform 0.6s;
}

.form__widget {
  width: 15em;
  padding: 0.6em 1em 0.6em 1em;
  border: #000000 1px solid;
  border-radius: 5px;
}
.form-submit {
  left: 50%;
  transform: translateX(-50%);
}
.form__btn {
  padding: 0.5em 2em 0.5em 2em;
  color: white;
  background-color: #000000;
  align-items: center;
}
.form__btn--login {
  padding: 0.5em 2.9em 0.5em 2.9em;
  color: white;
  background-color: #000000;
  align-items: center;
}
.form__btn--login:hover ~ .btn-dot {
  transform: translateX(17em);
  transition: transform 0.6s;
}
.form__btn:hover ~ .btn-dot {
  transform: translateX(17em);
  transition: transform 0.6s;
}

.habits__main {
  border-top-left-radius: 40px;
}
.habits__panel--left, .habits__panel--right {
  height: 32em;
  width: 50%;
}
.habits__panel {
  height: 39em;
}
.habits__panel--left, .habits__panel-right--top, .habits__panel-right--bottom {
  border-radius: 40px;
  background-color: #fff;
}
.habits__checkbox-progress {
  width: 0.5em;
  transition: width 0.2s;
}
.habits__category-bar {
  width: 20em;
  height: 0.5em;
}
.habits__category-bar--health {
  background: #46BACE;
}
.habits__category-bar--relax {
  background: #46CE56;
}
.habits__category-bar--activity {
  background: #FABB18;
}
.habits__row:hover {
  background-color: rgb(246, 246, 246);
}
.habits__table {
  border-radius: 40px;
}

.habit-remove:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}

.habits__row:hover .habits__checkbox-progress {
  width: 10em;
  transition: width 0.2s;
}

.habits__checkbox:checked ~ .habits__checkbox-progress {
  width: 10em;
  transition: width 0.2s;
}

.chart__text {
  top: 54%;
}

/* Ukrycie samego checkboxa */
.checkbox-hidden {
  display: none;
}

/* Styl ikony, która będzie interaktywna */
.panel-select__icon--health {
  cursor: pointer; /* Wskaźnik kursora, aby użytkownik wiedział, że jest to element interaktywny */
}

.panel-select__row--health:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}
.panel-select__row--relax:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}
.panel-select__row--activity:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}

/* Zmieniony wygląd ikony po zaznaczeniu checkboxa */
.checkbox-hidden:checked ~ .panel-select__icon > .panel-select__icon--health {
  background-color: rgb(222, 233, 252);
}

.checkbox-hidden:checked ~ .panel-select__icon > .panel-select__icon--relax {
  background-color: rgb(220, 252, 231);
}

.checkbox-hidden:checked ~ .panel-select__icon > .panel-select__icon--activity {
  background-color: rgb(255, 237, 213);
}/*# sourceMappingURL=main.css.map */