body{
    font-family: "Poppins", sans-serif;
}
.main{
    &__content{
        padding: 0 6em 0 6em;
    }
    &__heading{
        margin-bottom: 2em;
        font-size: 7rem;
        font-weight: 800;
        line-height: 0.6em;

        &--small{
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
        &--form{
            margin-bottom: 1em;
            font-size: 3.3rem;
            font-weight: 800;
            line-height: 0.6em;
        }
    }
    &-color{
    color: #FABB18;
    }

    &__background{
        background-color: #F9F9F9;
    }

    &__cta-btn{
        padding: 0.8em 2em 0.8em 2em;
        color: white;
        background-color: #000000;
        align-items: center;
        // border-radius: 5px;
    }
}
.nav{
    display: flex;
    width: 100%;
    height: 5em;
    justify-content: end;
    align-items: center;
    padding-right: 1em;
    gap: 1em;
}
.btn-dot{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FABB18;
    transform: translateX(-100%);
}
.main__cta-btn:hover~.btn-dot{
transform: translateX(17em);
transition: transform 0.6s;
}

.form{

    &__widget{
        width: 15em;
        padding: 0.6em 1em 0.6em 1em;
        border: #000000 1px solid;
        border-radius: 5px;
    }
    &-submit{
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__btn{
        padding: 0.5em 2em 0.5em 2em;
        color: white;
        background-color: #000000;
        align-items: center;
        &--login{
            padding: 0.5em 2.9em 0.5em 2.9em;
            color: white;
            background-color: #000000;
            align-items: center;
            
            &:hover~.btn-dot{
                transform: translateX(17em);
                transition: transform 0.6s;
            }
        }

        &:hover~.btn-dot{
            transform: translateX(17em);
            transition: transform 0.6s;
        }
    }
}



