{% extends 'base.html.twig' %}

{% block body %}
<div class="flex w-100 h-100 justify-center items-center text-center bg-red">
    <h1 class="main-font text-black">HABITIF<span class="main-color main-font">Y.</span></h1>
    <h2>Przypomni, zanim ty zdążysz zapomnieć</h2>
</div>

{% endblock %}
